#new-notification-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="newNotificationModal")
  .modal-dialog
    .modal-content
      .modal-header
        %h4 Create Notification
      .modal-body.container-fluid
        = form_for(:notification, url: topic_notifications_path(@topic)) do |f|
          .form-group
            = f.label :twitter_handle
            = f.text_field :twitter_handle, autofocus: true, class: 'form-control', required: true
          .form-group
            = f.label :body
            = f.text_area :body, class: 'form-control', required: true
          .form-group
            = f.label :url_label
            = f.text_field :url_label, class: 'form-control', required: true
          .form-group
            = f.label :url
            = f.text_field :url, class: 'form-control'
          .checkbox
            %label
              = f.check_box :promoted
              = f.label :promoted
          %button.btn.btn-primary(type="submit") Create
