.panel.topic
  %h5
    = link_to topic_path(id: topic.id) do
      - if topic.promoted
        %i.fa.fa-star
      - else
        %i.fa.fa-rss
      = topic.name.capitalize
    - if user_follows
      = link_to unfollow_topic_path(id: topic.id) do
        %i.fa.fa-close.right
    - elsif user_can_follow?
      = link_to follow_topic_path(id: topic.id) do
        %i.fa.fa-plus.right
  %hr
  %p= topic.description
