.panel
  %h5
    = topic.name.capitalize
    - unless user_follows
      = link_to follow_topic_path(id: topic.id) do
        %i.fa.fa-plus.right
    - else
      = link_to unfollow_topic_path(id: topic.id) do
        %i.fa.fa-close.right
  %blockquote= topic.description
  = link_to 'Notifications', topic_path(id: topic.id)
