= form_for(@topic, as: :topics, url: topic_path(@topic), html: { method: :put }) do |f|
  %h4 Edit #{@topic.name}
  .row
    .small-6.columns.end.field
      %label
        = f.label :name
        = f.text_field :name, autofocus: true
    .small-6.columns.field
      %label
        = f.label :description
        = f.text_field :description
    .columns.field
      %label
        = f.label :twitter_keywords
        = f.text_area :twitter_keywords
    .small-6.columns.field
      %label
        = f.label :notification_type
        = f.text_field :notification_type
    .small-6.columns.field
      %label
        = f.label :icon_name
        = f.text_field :icon_name
    .columns.end.field
      %label
        = f.check_box :promoted
        = f.label :promoted
    .columns
      %button.tiny(type="submit") Save
