= form_for(:topics, as: :topics, url: topics_path) do |f|
  %h4 Create New #{:topics.to_s.humanize}
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, placeholder: "the topic's name", class: 'form-control', required: true
  .form-group
    = f.label :description
    = f.text_field :description, placeholder: 'a brief description of the topic', class: 'form-control', required: true
  .columns.field
    = f.label :twitter_keywords
    = f.text_area :twitter_keywords, placeholder: 'twitter keywords separated by spaces', class: 'form-control', required: true, rows: 2
  .form-group
    = f.label :notification_type
    = f.text_field :notification_type, placeholder: 'mixed, popular or recent', class: 'form-control'
  .form-group
    = f.label :icon_name
    = f.text_field :icon_name, placeholder: 'eg: fa-soccer-ball', class: 'form-control'
  .checkbox
    %label
      = f.check_box :promoted
      = f.label :promoted
  %button.btn.btn-primary(type="submit") Save
