- if is_admin?
  = link_to 'Edit topic', edit_topic_path(@topic)
  |
  %a(href="#" data-reveal-id="new-notification-modal") Create notification
%h4
  = @topic.name.capitalize
%blockquote= @topic.description
#notifications
  - @notifications.promoted.each do |notification|
    =render 'notification', notification: notification
  - @notifications.not_promoted.each do |notification|
    =render 'notification', notification: notification

#new-notification-modal.reveal-modal(data-reveal)
  = form_for(:notification, url: topic_notifications_path(@topic)) do |f|
    %h4 Create Notification
    .row
      .small-6.end.columns.field
        %label
          = f.label :twitter_handle
          = f.text_field :twitter_handle, autofocus: true
      .columns.field
        %label
          = f.label :body
          = f.text_area :body
      .small-6.columns.field
        %label
          = f.label :url_label
          = f.text_field :url_label
      .small-6.columns.field
        %label
          = f.label :url
          = f.text_field :url
      .columns.field
        %label
          = f.check_box :promoted
          = f.label :promoted
      .columns
        %button.tiny(type="submit") Create


= content_for :local_js do
  :javascript
    var $container = $('#notifications')
    $container.masonry({columnWidth: 275, itemSelector: '.notification'});
