= render 'shared/header', title: @topic.name.capitalize
%blockquote= @topic.description
#notifications
  - @notifications.promoted.each do |notification|
    =render 'notification', notification: notification
  - @notifications.not_promoted.each do |notification|
    =render 'notification', notification: notification

= render 'notification_modal'

= content_for :admin_sidebar do
  .text-center
    .btn-group-vertical.btn-group-sm
      = link_to 'Edit topic', edit_topic_path(@topic), class: 'btn btn-default'
      %a.btn.btn-default(href="#" data-toggle="modal" data-target="#new-notification-modal") Create notification

= content_for :local_js do
  :javascript
    var $container = $('#notifications')
    $container.masonry({columnWidth: 259, itemSelector: '.notification'});
