.sidebar
  = active_link_to home_index_path, class: 'thumbnail' do
    = image_tag 'finter-logo.png', width: '100%'
    .caption.text-center
      %h5 Finter
  %ul.nav.nav-pills.nav-stacked
    %li(role="presentation")
      = active_link_to topics_path do
        Topics
        %i.fa.fa-comments-o.pull-right

    - if logged?
      %li
        =link_to( 'Send notification', :action => 'sendmail', :controller => 'home',  :method => :get)

      - user_topics.each do |topic|
        %li(role="presentation")
          = active_link_to topic_path(topic) do
            = topic.name.capitalize
            - if topic.icon_name.blank?
              %i.fa.fa-rss.pull-right= topic.name.first.upcase
            - else
              %i.fa.pull-right(class="#{topic.icon_name}")

    %li(role="presentation")
      = active_link_to edit_user_registration_path do
        Settings
        %i.fa.fa-gears.pull-right
    - if logged?
      %li(role="presentation")
        = active_link_to destroy_user_session_path, :method => :delete do
          Sign out
          %i.fa.fa-sign-out.pull-right
    - else
      %li(role="presentation")
        = active_link_to new_user_session_path do
          Sign in
          %i.fa.fa-sign-in.pull-right

  - if is_admin?
    %hr
    = yield :admin_sidebar
