%p
  = image_tag 'finter-logo.png'
%ul.side-nav
  %li.text-center
    = active_link_to home_index_path do
      %i.fa.fa-home
  %li.text-center
    = active_link_to topics_path do
      %i.fa.fa-comments
  - if is_admin?
    %li.text-center
      = active_link_to new_topic_path do
        %i.fa.fa-plus
  %li.text-center
    = active_link_to edit_user_registration_path do
      %i.fa.fa-user
  - if logged?
    %li.text-center
      = active_link_to destroy_user_session_path, :method => :delete do
        %i.fa.fa-sign-out
  - else
    %li.text-center
      = active_link_to new_user_session_path do
        %i.fa.fa-sign-in
