%p
  = active_link_to home_index_path do
    = image_tag 'finter-logo.png'
%ul.side-nav
  %li.text-center
    = active_link_to topics_path do
      %i.fa.fa-comments-o
  %li.text-center
    = active_link_to edit_user_registration_path do
      %i.fa.fa-gears
  - if logged?
    %li.text-center
      = active_link_to destroy_user_session_path, :method => :delete do
        %i.fa.fa-sign-out
  - else
    %li.text-center
      = active_link_to new_user_session_path do
        %i.fa.fa-sign-in
