%html
  %head
    %title Finter
    = stylesheet_link_tag 'application', media: 'all'
    = google_webfonts_init({google: ['Roboto Slab', 'Roboto']})
    = csrf_meta_tags

  %body.container-fluid
    .row
      .col-md-2.col-xs-3= render 'shared/sidebar'
      .col-md-10.col-xs-9= yield

    = javascript_include_tag 'application'
    = yield :local_js
