%html
  %head
    %title Finter
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = google_webfonts_init({google: ['Roboto Slab', 'Roboto']})
    = csrf_meta_tags

  %body
    .row
      .small-1.columns= render 'shared/sidebar'
      .small-11.columns= yield

    = javascript_include_tag 'application'
    = yield :local_js
